DJANGO_SECRET_KEY=your_very_secret_django_key_here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=supplynode
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost ('db' для запуска в Docker)
DB_PORT=5432
